/* HEADER */





/* BASE STYLES */
html {
    font-family:Arial, Helvetica, sans-serif;
}




/* TYPEWRITER EFFECT INDEX */
.typewriter-container {
    font-size:24px;
    font-weight:bold;
}

h1 {
    text-align: center;
}

.base-text {
    color:#333;
    text-align: center;
}

#typewriter-text {
    color:#007acc;
    text-align: center;
}

.cursor {
    color:#007acc;
    text-align: ce;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}